<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bootstrap, from Twitter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="css/offset.css" rel="stylesheet">
	<style type="text/css">
		body { padding-top: 80px; padding-bottom: 40px; }
		.hero-unit {
			background-image: url(http://s.gr-assets.com/assets/home/masthead_background.jpg);
			background-position-y: -40px;
		}
	</style>
	<link href="http://twitter.github.com/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="bootstrap/images/favicon.ico">
	<link rel="apple-touch-icon" href="bootstrap/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="bootstrap/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="bootstrap/images/apple-touch-icon-114x114.png">
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<!-- <a class="brand" href="#">goodreads</a> -->
				<img alt="Goodreads: Book reviews, recommendations, and discussion" src="images/goodreads_logo.png" class="brand">
				<div class="nav-collapse pull-right">
					<!-- <ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul> -->
					<form class="form-inline" style="margin: 10px">
						<input type="text" class="input-small" placeholder="Email" style="margin-top: 5px">
						<input type="password" class="input-small" placeholder="Password" style="margin-top: 5px">
						<button type="submit" class="btn">Sign in</button>
						<!-- <br/>
						<label class="checkbox">
							<input type="checkbox"> Remember me
						</label> -->
					</form>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit">
			
			<div class="row">
				<div class="span7">
					<h1>Meet your next favourite book!</h1>
				</div>
				
				<div class="span3">
					<!-- Sign up form -->
					<form>
						<input type="text" id="inputName" placeholder="Name">
						<input type="text" id="inputEmail" placeholder="Email">
						<input type="password" id="inputPassword" placeholder="Password">
						<!-- <label class="checkbox">
						<input type="checkbox"> Remember me
						</label> -->
						<button type="submit" class="btn btn-primary btn-large">Sign up</button>
					</form>
					<!-- Sign up form -->		
				</div>
			</div>

			

			

		</div>

		<!-- Example row of columns -->
		<div class="row">
			<div class="span4">
				<h2>Deciding what to read next?</h2>
				<p>You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.</p>
				<p><a class="btn" href="#">View details &raquo;</a></p>
			</div>
			<div class="span4">
				<h2>What are your friends reading?</h2>
				<p>Chances are your friends are discussing their favorite (and least favorite) books on Goodreads. Want to learn more? Take the tour.</p>
				<p><a class="btn" href="#">View details &raquo;</a></p>
		   </div>
			<div class="span4">
				<h2>Are you an author or a publisher?</h2>
				<p>Gain access to a massive audience of more than 25 million book lovers. Goodreads is a great place to promote your books.</p>
				<p><a class="btn" href="#">View details &raquo;</a></p>
			</div>
		</div>
		<hr>
		<footer>
			<p>&copy; Company 2012</p>
		</footer>

	</div> <!-- /container -->

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap-transition.js"></script>
	<script src="bootstrap/js/bootstrap-alert.js"></script>
	<script src="bootstrap/js/bootstrap-modal.js"></script>
	<script src="bootstrap/js/bootstrap-dropdown.js"></script>
	<script src="bootstrap/js/bootstrap-scrollspy.js"></script>
	<script src="bootstrap/js/bootstrap-tab.js"></script>
	<script src="bootstrap/js/bootstrap-tooltip.js"></script>
	<script src="bootstrap/js/bootstrap-popover.js"></script>
	<script src="bootstrap/js/bootstrap-button.js"></script>
	<script src="bootstrap/js/bootstrap-collapse.js"></script>
	<script src="bootstrap/js/bootstrap-carousel.js"></script>
	<script src="bootstrap/js/bootstrap-typeahead.js"></script>
</body>
</html>